<form action="/login/password" method="post">
  <section>
    <label for="username">Username</label>
    <input id="username" name="lalala" type="text" autocomplete="username" required autofocus>
  </section>
  <section>
    <label for="current-password">Password</label>
    <input id="current-password" name="lololo" type="password" autocomplete="current-password" required>
  </section>
  <button type="submit">Sign in</button>
</form>